body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .user-list {
    margin-top: 30px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-list th {
    background-color: #f8f9fa;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  .download-btn {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* Color verde igual que los botones */
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .download-btn:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el ratón */
  }
  
  .download-btn:focus {
    outline: none;
  }
  #examenTable {
    width: 90%; /* Ajusta este valor para que ocupe más o menos ancho */
    margin: 20px auto; /* Centra la tabla y agrega espacio arriba y abajo */
  }
  